/*dark theme*/
:root {
    --dark-text-color: #a0a0a0;
    --dark-text-title-color: #404040;
    --dark-text-bold-color: #7d7d7d;
    --dark-text-active-color: #ff4a9e;
    --dark-bg-color: #101010;
    --dark-block-bg-clolr: #202020;
    --dark-bg-container-color: #1a1a1a;
    --dark-bg-docker-color: #2a2b2b;
    --dark-circle-color: #7fff00;
    --dark-circle-bg-color: #ff7f50;
    --dark-cell-title-color: #cfcfcf;
    --dark-step-bg-color: #101010;
    --dark-step-color: #cfcfcf;
    --dark-loading-color: #e0e1e2;
    --dark-line-border-color: #707070;
}